@tailwind base;
@tailwind components;
@tailwind utilities;


html{
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
}
.img-cover {
  background-image: url("https://images.unsplash.com/photo-1533839346998-ba7ebed7e89d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=773&q=80");
}